/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial Verdana;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial Verdana; 
}
header{
	height: 80vh;
	background-color: #A9A9A9;
	background-size: cover;
	background-position: center;
}
.tuki img{
	position: absolute;
	top: 3%;
	left: 5%;
	width: 150px;
	height: auto;
}
ul{
	float: center;
	list-style-type: none;
position: absolute;
top: 50%;
left: 40%;

}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration:  none;
	color: #000000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color:#000;
	}
.kupovina{
	position: absolute;
	top: 45%;
	left: 36%;
	font-size: 20px;
	color: #fff;
}
.slika img{
	position: absolute;
	width: 200px;
	height: auto;
	top: 27%;
	left: 43%;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.slika img: hover{
	background-blend-mode: lighten;
}
.naslov h1{
	position: absolute;
	padding: 5px 20px;
	top: 5%;
	left: 30%;
	font-size: 70px;
	color: #fff;
	border: 1px solid transparent;
	transition: 1s ease;
}
.naslov h1:hover{
	background-color: #fff;
	color:#000;
}
footer{
	size: 20vh;
	background-color: #DCDCDC;
	background-size: cover;
	background-position: center;
}
.kurac p{
	color: #000;
	font-size: 30px;
	position: absolute;
	left: 1%;
	bottom: 3%;
	}
	.kiturina img{
position: absolute;
left: 15%;
bottom: 2%;
width: 50px;
height: auto;
}
.paragraf p{
	color: #000;
	font-size: 15px;
	bottom: 5%;
	left: 70%;
}